<template>
  <el-container style="height: 100vh; border: 1px solid #eee">
  <el-aside width="210px"  style="background-color:#001529">
    <h1 style="height:60px;line-height:60px;text-align:center;font-size:20px;color:#fff;">后台管理</h1>
    <el-menu :default-openeds="['1']"
        text-color="#999"
        active-text-color="#fff"
        :router="true"
        @select="select"
        background-color="#001529">
      <el-submenu index="''+(index+1)" v-for="(item,index) in menuLists" :key="index">
        <template slot="title"><i class="el-icon-message"></i>{{item.authName}}</template>
        <el-menu-item-group>
          <el-menu-item v-for="(_item,_index) in item.children" :index="'/home/'+_item.path" :key="_index">{{_item.authName}}</el-menu-item>
        </el-menu-item-group>   
      </el-submenu>
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header style="text-align: right; font-size: 12px">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>查看</el-dropdown-item>
          <el-dropdown-item>新增</el-dropdown-item>
          <el-dropdown-item>删除</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>退出</span>
    </el-header>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</el-container>
</template>


<script>


   export default {
    data() {
      return {
        menuLists:[]
      }
    },
    methods: {
      getMenus(){
        this.$http('menus').then(res=>{
          this.menuLists=res.data
        })
      },
      select(val){
        console.log(val)
      }
   
    },
    created(){
      this.getMenus()
    }
  
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }
  
  .el-aside {
    color: #333;
  }
</style>


